/* You can add global styles to this file, and also import other style files */
@import '@angular/cdk/overlay-prebuilt.css';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'material-icons/iconfont/material-icons.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.mat-mdc-input-element:disabled,
.mat-mdc-select-disabled .mat-mdc-select-value {
  color: rgba(0, 0, 0, 0.87);
  -webkit-text-fill-color: rgba(0, 0, 0, 0.87);
}

.snackbar-style-error {
  --mat-snack-bar-supporting-text-color: #d39f2f;
  --mat-snack-bar-button-color: #d32f2f;
}

.snackbar-style-warning {
  --mat-snack-bar-supporting-text-color: #f5c842;
  --mat-snack-bar-button-color: #d39f2f;
}

.snackbar-style-success {
  --mat-snack-bar-supporting-text-color: #a4d3ae;
  --mat-snack-bar-button-color: #2fd34f;
}
